body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../static/img/premier_league_background.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

body li {
    list-style-type: None;
}

#header {
    display:flex;
    justify-content: space-between;
    background-color: #37003c;
    color: #e90052;
    font-size: 25px;
}

h1 {
    margin-left: 5px;
}

#form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 0 30%;
    margin-right: 25px;
    margin-left: 25px;
}

#form-wrapper div {
    flex-wrap: wrap;
    margin-bottom: 12px;
    margin-top: 8px;
    margin-right: 6px;
}

#player-chooser {
    margin-top: 0;
}